* {
    box-sizing: border-box;
}

html {
    font-family: "Arial Verdana", sans-serif;
}

header {
    text-align: center;
    background-color: #0e536d;
    color: #ffffff;
    padding-top: 15px;
    border-radius: 5px;
}

a {
    color: #0e536d;
}

article {
    padding-bottom: 15px;
}

header h1 {
    padding-bottom: 15px;
}

footer {
    background-color: #0e536d;
    color: #ffffff;
    padding: 15px;
    text-align: right;
    font-size: 10px;
    border-radius: 5px;
}

body {
    background-color: #72C1CF;
    padding: 10px;
}

.user {
    background-color:  lightgray;
    padding: 5px;
    padding-bottom: 18px;
}



.page {
    padding-bottom: 50px;
}
.inputButton  {
    background: #0099cc;
    color: white;
    border-style: none;
    height: 30px;
    width: 80px;
    font-size: 10px;
    text-shadow:none;
    border-radius: 3px;
}


.floatright {
    float: right;
}
.floatcenter {
    display: inline-block; 
    width: 100%;
    text-align: center;
}


.inputButton:hover {
    background: #0066A2
}
.accountOp {
    padding: 2px;
    float: right;
}
.account {
    padding-left: 20px; 
}


.menu {
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu div {
    padding: 10px;
    margin-bottom: 3px;
    background-color: #0099cc;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: center;
    border-radius: 5px;
}
.menu div:hover {
    background-color: #007096;
}
.menu a {
    color: #ffffff;
    text-decoration: none;
}


.button {
    font-size: 10px; 
    padding: 8px;
    background-color: #0099cc;
    text-decoration: none;
    color: white;
    border-radius: 3px;
}
.button:hover {
    background-color: #007096;
    color: white;
}
.listingBox {
    padding-bottom: 20px;
}


.posts {
    clear: both;
    padding-top: 10px;
}


.item {
    border: 1px solid black;
    padding: 5px;
    background-color: lightgray;
    border-radius: 0px 0px 5px 5px;
    padding-bottom: 10px;
}
.itemName {
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 12px;
    border-radius: 5px 5px 0px 0px;
}
.submit {
    line-height: 1.5;
}
.formHead {
    display: inline-block; 
    width: 15%;
    background-color: black;
    color: white;
    padding: 3px;
    text-align: center;
}
.img {
    width: 15%;
    float: left;
    padding: 2px;
}

.imgEd {
    width: 117px;
    height: 139px;
    padding: 2px;
}

.postLine {
    width: 75%;
}
.postContent{
    width: 75%;
}



.foot {
    background-color: lightgray;
}

.row {
    overflow-x: hidden;
}

.btn {
    background-color: #0099cc;
    color: white;
}

.btn:hover {
    background-color: #0066A2;
}

.well-bottom {
    border: none;
    padding-top: 5px;
    border-radius: 0px 0px 5px 5px;
    background-color: lightgray;
}

.well-padd {
    padding-bottom: 65px;
}

.well-member {
    min-height: 110px;
}

.well-top {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 0px;
}

.glyphicon {
    padding-left: 2px;
    padding-right: 2px;
}

.glyphicon-remove {
     color: darkred;
}

.glyphicon-trash {
    color: red;
}

.glyphicon-ok {
    color: greenyellow;
}

.glyphicon-pencil {
    color: lightblue;
}

.glyphicon-minus-sign {
    color: yellow;
}

.glyphicon-ok-sign {
    color: greenyellow;
}

.linkButton {
     background: none;
     border: none;
     cursor: pointer; 
     padding: 0px;
}

.undecoratedLink {
    color:white;
}

.undecoratedLink:hover{
    color:white;
    text-decoration: underline;
}

.extendLink {
    padding: 5px;
}

.breakpoint {
    border-color: lightgray;
}

.text {
    padding-top: 10px;
}